.ProfileForm {
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    width: 20rem;

    label {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > input {
        width: 100%;
      }
    }
  }

  &--submit {
    margin-top: 1rem;
    background-color: #559cad;
    color: white;
    font-weight: bold;

    &:disabled {
      cursor: not-allowed;
      background-color: #bdc3c7;
    }
  }
}
