.ProfileCard {
  &__container {
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 15rem;
    border: 1px solid #c1b2ab;
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--danger {
    background-color: #92374d;
    color: white;
    font-weight: bold;
  }
}
